header {
    /*background: url(Presentacion.png) top left no-repeat;*/
    background: #FFFFFF;
    color: #005883;
    /* width: 50px;
    height: 200px;
    margin: 0px;
    padding: 0px;*/
}

.row_header{
   background: #f47920;
    color: #FFFFFF;

}


.main {
    background: #FFFFFF;
    color: #005883;
    border: 5px solid orange;*/

}

.row_main{

  border: 5px solid grey;*/
}
aside {
    background: #005883;
    color: #FFFFFF;
}

.color1 {
    background-color: #005883;
    color: #FFFFFF
}

.color2 {
    background-color: #FFFFFF;
    color: #005883
}

.GITHUB {
    background: #005883;
    color: #FFFFFF
}

.CSS3 {
    background:#2ED445;
    color: #FFFFFF
}

.HTML5{

	background:#F67621;
    color: #FFFFFF
}

.HTML5_Mm{

	background:#F85252;
    color: #FFFFFF
}

.CSS3_TRU{

	background:#A032C0;
    color: #FFFFFF
}

.NAV_BAR{

	    background-color: #005883;
        color: #FFFFFF
}

.rad0{

border: 2px solid gray;
background-color: #9CE4EC;

}

.rad1{

border: 2px solid gray;
background-color: #F0E480;

}

.rad2{

border: 2px solid gray;
background-color: #DFDCDC;

}


/* sólo color de fondo */

footer {
    background: #f0b829;
    color: #241F1F
}

.search{

background-color: #FFFFFF;
	
}